@font-face {
  font-family: "Estedad";
  src: url("../public/fonts/Estedad-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EstedadBold";
  src: url("../public/fonts/Estedad-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "EstedadLight";
  src: url("../public/fonts/Estedad-Light.ttf") format("truetype");
}

:root {
  /* color */
  --site-bg: #fff;
  --site-bg2: #fcfcfc;
  --orange: #f54749;
  --white: #fff;
  --black: #000;
  --dark: #231f20;
  --dark2: #292d32;
  --gold: #dbbe8f;
  --smoky: #d9d9d9;
  --smoky2: #d3d2d2;
  --smoky3: #bebebe;
  --smoky4: #A8A9AB;
  --smoky5: #F1F1F1;
  --smoky-dark: #656262;
  --green: #29B067;
  --red: #F54749;


  /* font */
  --font-8: 8px;
  --font-9: 9px;
  --font-10: 10px;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-24: 24px;
  --font-48: 48px;
  --line-22: 22px;

  /* border-radius */
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-14: 14px;
  --radius-16: 16px;
  --radius-18: 18px;
  --radius-36: 36px;
  --radius-48: 48px;
  --radius-55: 55px;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body,
html {
  direction: rtl;
  text-align: right;
  background-color: darkgrey;
}

/*  */
.button {
  all: unset;
  border-radius: var(--radius-14);
  width: 100%;
  max-width: 450px;
  background-color: var(--dark2);
  color: var(--gold);
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.button-sm {
  height: 28px;
  min-width: 82px;
  font-size: var(--font-10);
  border-radius: var(--radius-8);
}

.button-md {
  height: 44px;
  font-size: var(--font-12);
  width: 224px;
}

.button-not {
  background-color: var(--white);
  border: 1px solid var(--dark);
  color: var(--dark);
}

.button-gold {
  all: unset;
  border-radius: var(--radius-14);
  width: 100%;
  max-width: 450px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--gold);
  color: var(--dark2);
  font-weight: bold;
}

.button-gold svg{
  font-size: 20px;
  margin-right: 6px;
}

.button-gold-md {
  font-size: var(--font-12);
  max-width: 224px;
}

.button-gold-active {
  background-color: #dbbe8f1f;
  color: var(--gold);
  border: 1px solid var(--gold);
}

/* .title {
  color: var(--black);
  font-size: var(--font-16);
  font-weight: bold;
} */

.form-input {
  border: 1px solid var(--dark);
  border-radius: var(--radius-12);
  font-size: var(--font-14);
  height: 44px;
  padding: 5px;
  min-width: 240px;
}

.form-text {
  border: 1px solid var(--dark);
  border-radius: var(--radius-12);
  font-size: var(--font-14);
  padding: 5px;
  min-width: 240px;
}

.form-input::placeholder, .form-text::placeholder {
  color: var(--dark);
}

/* form label */
.form-input-holder {
  position: relative;
}
.form-input-holder .left {
  text-align: left;
  direction: ltr;
}
.form-input-holder input {
  border: 1px solid var(--dark);
  border-radius: var(--radius-12);
  font-size: var(--font-14);
  height: 44px;
  padding: 5px 15px;
  width: 100%;
}
.form-input-holder .center {
  text-align: center;
  word-spacing: 30px;
}
.form-input-holder input:focus {
  border: 1px solid var(--dark);
  outline: none;
}
.form-input-holder label {
  position: absolute;
  font-size: var(--font-12);
  color: var(--dark);
  top: 7px;
  right: 10px;
  background: #fff;
  padding: 3px 8px;
  transition: .2s;
}
.form-input-holder input:focus + label {
  font-size: var(--font-10);
  top: -14px;
  right: 40px;
}
/* form label */

.back {
  height: 44px;
  width: 44px;
  border-radius: var(--radius-12);
  border: 1px solid var(--dark2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  position: absolute;
  left: 0;
  cursor: pointer;
  transition: 0.4s;
  color: var(--dark2);
}

.back-light {
  color: var(--white);
  border: 1px solid var(--white);
}

.back:hover {
  font-size: 28px;
}

.color-red {
  color: var(--red);
}

.color-green {
  color: var(--green);
}
/*  */

main {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--site-bg);
  color: var(--dark);
  font-family: "Estedad";
  font-size: var(--font-14);
  min-height: 100vh;
  line-height: var(--line-22);
  user-select: none;
}

/* auth */
.auth-page {
  text-align: center;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.auth-page img {
  width: 70%;
}

.auth-page .head {
  background-color: #f54749;
  color: var(--white);
  border-radius: 0% 0% 150% 150% / 0% 0% 23% 23%;
  position: relative;
  animation: drop 0.8s ease-in-out;
}

@keyframes drop {
  0% {
    top: -350px;
  }
  100% {
    top: 0;
  }
}

.auth-page p {
  font-weight: bold;
  width: 315px;
  margin: 0 auto;
  line-height: var(--line-22);
}

.auth-page .number-img img {
  max-width: 63%;
  position: relative;
  bottom: -30px;
}

.auth-page .number-input {
  border-radius: var(--radius-55);
  text-align: center;
  letter-spacing: 4px;
  border: 1px solid var(--dark);
}

.auth-page .number-input::placeholder {
  opacity: 0.7;
  letter-spacing: 0;
}

.auth-page .code-input {
  text-align: center;
  width: 62px;
  height: 62px;
  border-radius: 9px;
  background-color: var(--smoky);
  caret-color: transparent;
  direction: ltr;
}

.auth-page .head a {
  position: absolute;
  left: 10px;
  top: 30px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page .head a i {
  font-size: 23px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* end auth */

/* home page */

.home .head svg {
  font-size: 24px;
}

.swiper-slide {
  width: auto !important;
}

.home .swiper-pagination {
  position: static;
  margin-top: 15px;
}

.home .swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  display: inline-block;
  border-radius: 16px;
  background: var(--smoky2);
  opacity: 1;
}

.home .swiper-pagination-bullet-active {
  width: 30px;
  background: var(--orange);
}

/* nazdik tarin ha */
.home {
  position: relative;
}

.home .nearest {
  border-radius: var(--radius-48);
  width: 225px;
  height: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../src/pictures/test/bgtest1.png"); */
  background-position: center;
  direction: ltr;
}

.home .nearest div {
  border-radius: var(--radius-36);
  text-align: center;
  background: linear-gradient(
    344deg,
    rgba(26, 31, 35, 0) 77%,
    rgba(219, 219, 219, 1) 100%
  );
  padding: 0.5px;
}

.home .nearest div section {
  padding: 9px;
  min-height: 117px;
  min-width: 150px;
  max-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: inherit;
  background-color: #ededed43;
  backdrop-filter: blur(5px);
  color: var(--black);
}

.home .nearest div section h5 {
  font-size: var(--font-16);
  font-family: "EstedadBold";
  margin-bottom: 3px;
}

.home .nearest div section p {
  font-size: var(--font-10);
  margin-bottom: 0;
  font-weight: bold;
}

.home .nearest div section span {
  font-size: 0.85rem;
}

/* be sarfe tarin ha */
.home .show-all {
  font-size: var(--font-8);
  margin-bottom: 0;
  font-weight: bold;
  cursor: pointer;
}

.home .show-all svg {
  font-size: 16px;
  color: var(--orange);
}

.home .economical {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .economical .name {
  width: 65px;
  height: 65px;
  padding: 5px;
  border-radius: var(--radius-16);
  box-shadow: 0px 2px 28px #4b4b581a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-10);
  font-family: "EstedadBold";
  margin-left: 14px;
  position: relative;
}

.home .economical .name img {
  position: absolute;
  width: 30px;
}

.home .economical .food {
  border-radius: var(--radius-16);
  box-shadow: 0px 2px 28px #4b4b581a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-12);
  overflow: hidden;
  width: 280px;
}

.home .economical .food h5 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: var(--font-12);
}

.home .economical .food .price {
  color: var(--orange);
  margin-bottom: 0;
}

.home .economical .food .old-price {
  margin-bottom: 0;
  color: var(--smoky);
  text-decoration: line-through;
}

.home .economical .food .food-image {
  height: 60px;
  width: 103px;
  /* background-image: url("../src/pictures/test/food1.png"); */
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.home .economical .food .food-image .rate {
  width: 40px;
  height: 18px;
  border-radius: 4px;
  background-color: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
}

/* denj tarin ha */
.home .denj {
  width: 169px;
  height: 169px;
  /* background-image: url("../src/pictures/test/denj1.png"); */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--radius-18);
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 2px 28px #4b4b581a;
}

.home .denj .rate {
  background-color: var(--orange);
  color: var(--white);
  width: 45px;
  height: 19px;
  font-size: var(--font-10);
  border-radius: 4px;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
}

.home .denj .name {
  color: var(--white);
  font-family: "EstedadBold";
  font-size: var(--font-12);
  min-height: 52px;
  background: #231f204d;
  backdrop-filter: blur(8px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}

/* takhfif dar ha */
.home .offer {
  width: 125px;
  height: 137px;
  /* background-image: url("../src/pictures/test/offer1.png"); */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--radius-18);
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 2px 28px #4b4b581a;
}

.home .offer .off {
  background-color: var(--orange);
  color: var(--white);
  width: 55px;
  height: 20px;
  font-size: var(--font-10);
  border-radius: 0 0 4px 4px;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .offer .name {
  color: var(--white);
  height: 42px;
  background: #231f205f;
  backdrop-filter: blur(8px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  font-size: var(--font-12);
}

.home .offer .name h6 {
  font-size: var(--font-12);
  margin-bottom: 3px;
  font-family: "EstedadBold";
}

.home .offer .name p {
  font-family: "Estedad";
  margin-bottom: 0;
}

.more {
  position: fixed;
  bottom: 0;
  width: 400px;
  background-color: var(--site-bg2);
  border-radius: 36px 36px 0 0;
  z-index: 3;
  overflow: scroll;
  transition: 0.4s;
  box-shadow: 0px -2px 13px 2px #4c50540d;
}

.more::-webkit-scrollbar {
  display: none;
}

.home .more .close-btn {
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home .more .close-btn div {
  background-color: var(--dark);
  width: 50px;
  height: 5px;
  border-radius: 29px;
  transition: 0.3s;
}

.home .more .close-btn div:hover {
  transform: scale(1.2);
}

/* end of home page */

/* search page */
.search .box {
  box-shadow: 0px 2px 28px #4b4b581a;
  border-radius: var(--radius-16);
  overflow: hidden;
}

.search .page-title {
  font-size: var(--font-16);
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.search .search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .search-section .search-box {
  position: relative;
  width: 100%;
  padding-left: 15px;
}

.search .search-section .search-box input {
  padding-right: 40px;
}

.search .search-section .search-box img {
  position: absolute;
  right: 9px;
  top: 9px;
}

.search .search-section .scan-box {
  border: 1px solid var(--dark);
  border-radius: var(--radius-12);
  height: 44px;
  /* width: 86px; */
  width: 110px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search-item {
  box-shadow: 0px 2px 28px #4b4b581a;
  border-radius: var(--radius-16);
  overflow: hidden;
  cursor: pointer;
}

.search .search-item .bg {
  height: 92px;
  /* background-image: url("../src/pictures/test/search2.png"); */
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.search .search-item .bg .logo {
  width: 55px;
  height: 55px;
  background-color: var(--dark2);
  border-radius: var(--radius-14);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23px;
  right: 12px;
}

.search .search-item .bg .rate {
  background-color: var(--orange);
  color: var(--white);
  width: 46px;
  height: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 36px;
}

.search .search-item .bg .rate svg {
  font-size: 14px;
}

.search .search-item .info {
  padding: 0 12px 12px 12px;
  display: flex;
  justify-content: space-between;
}

.search .search-item .info h5 {
  font-size: var(--font-12);
  font-family: "EstedadBold";
  margin-bottom: 7px;
}

.search .search-item .info h6 {
  font-size: var(--font-10);
  font-weight: bold;
  margin-bottom: 7px;
}

.search .search-item .info p {
  font-size: var(--font-8);
  color: var(--smoky3);
  margin-bottom: 0;
}

.search .search-item .info .delivery p {
  text-align: center;
  color: var(--dark);
  line-height: 8px;
  font-weight: bold;
}
/* end of search page */

/* coffe page */
.more .drawer-btn {
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 4;
}

.more .drawer-btn div {
  background-color: var(--dark);
  width: 50px;
  height: 5px;
  border-radius: 29px;
  transition: 0.3s;
  cursor: grab;
}

.more .drawer-btn div:hover {
  transform: scale(1.2);
}

.coffe .bg {
  height: 181px;
  background-image: url("../src/pictures/test/search2.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.coffe .bg .logo {
  width: 69px;
  height: 69px;
  background-color: var(--gold);
  border-radius: var(--radius-14);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 33px;
  right: 12px;
}

.coffe .bg .rate {
  background-color: var(--orange);
  color: var(--white);
  width: 46px;
  height: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 36px;
}

.coffe .bg .rate svg {
  font-size: 14px;
}

.coffe .info div {
  display: flex;
  justify-content: space-between;
}

.coffe .info div h5 {
  font-size: var(--font-16);
  margin-bottom: 0;
}

.coffe .info div p {
  font-size: var(--font-10);
  color: var(--smoky3);
  margin-bottom: 0;
}

.coffe .info div section{
  width: 32px;
}

.coffe .info div h6 {
  height: 44px;
  font-size: var(--font-9);
  box-shadow: 0px 2px 28px #4b4b5814;
  border-radius: var(--radius-14);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 9px;
}

.coffe .info div div {
  width: 44px;
  height: 44px;
  border-radius: var(--radius-14);
  box-shadow: 0px 2px 28px #4b4b5814;
  justify-content: center;
  align-items: center;
}


/* foods */
.foods .category-title{
  font-size: var(--font-16);
  color: var(--dark2);
  text-align: center;
  padding: 33px 0;
  font-weight: bold;
  margin-bottom: 0;
}

.food {
  border-radius: var(--radius-16);
  box-shadow: 0px 2px 28px #4b4b581a;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  height: 96px;
}

.food .food-pic{
  background-image: url("../src/pictures/test/food1.png");
  width: 100px;
  display: flex;
  align-items: center;
}

.food .food-pic .rate {
  background-color: var(--orange);
  color: var(--white);
  width: 46px;
  height: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  position: relative;
  left: 21px;
}

.food .food-pic .rate svg {
  font-size: 14px;
}

.food .food-info{
  color: var(--black);
  padding-left: 18px;
}

.food .food-info h5{
  font-size: var(--font-12);
  font-weight: bold;
}

.food .food-info p{
  font-size: var(--font-8);
  line-height: 13px;
}

.food .food-info div h6 {
  font-size: var(--font-16);
  color: var(--orange);
  text-align: center;
  margin-bottom: 0;
}

.food .food-info div p {
  font-size: var(--font-10);
  color: var(--smoky3);
  text-decoration: line-through;
  margin-bottom: 0;
}

.food .add-food{
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 1px solid var(--smoky);
}

.food .add-food p{
  color: var(--orange);
  font-size: var(--font-10);
  padding: 0 6px;
  line-height: 12px;
  margin-bottom: 0;
}

.food .add-food div div, .food .add-food div h6 {
  background-color: var(--orange);
  width: 60px;
  color: var(--white);
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--smoky);
}

.food .add-food div div label {
  font-size: 19px;
  transition: .4s;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food .add-food div h6 input {
  all: unset;
}

.food .add-food div div label:hover {
  transform: scale(1.6);
}

.food .add-food .initial-add{
  color: var(--orange);
  font-size: 25px;
  transition: .3s;
  cursor: pointer;
}

.food .add-food .initial-add:hover {
  transform: scale(1.6);
}

/* end of coffe page */


/* profile page */

.profile {
  min-height: inherit;
}

.profile-dark {
  background-color: var(--dark2);
}

.profile .head {
  padding-top: 15px;
  position: relative;
}

.profile .info {
  padding-top: 50px;
  display: flex;
}

.profile .info h5 {
  font-size: var(--font-16);
  font-weight: bold;
}

.profile .info h6 {
  color: var(--smoky-dark);
  font-size: var(--font-10);
  direction: ltr;
  margin-bottom: 0;
}

.profile .profile-menu .item {
  margin-bottom: 54px;
}

.profile .profile-menu .item a{
  display: flex;
  text-decoration: none;
  color: var(--black);
}

.profile .profile-menu .item p{
  margin-bottom: 0;
  padding-right: 10px;
  font-size: var(--font-12);
}

.profile .profile-menu .item div {
  width: 25px;
  text-align: center;
}


/* profile info */

.profile .page-title {
  font-size: var(--font-16);
  color: var(--white);
  margin-bottom: 0;
  font-weight: normal;
}

.profile .profile-pic label {
  width: 92px;
  height: 92px;
  border: 3px solid var(--gold);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.profile .header .header-info h5 {
  font-size: var(--font-16);
  font-weight: bold;
  color: var(--gold);
}

.profile .header .header-info h6 {
  color: var(--smoky-dark);
  font-size: var(--font-10);
  direction: ltr;
  margin-bottom: 0;
  color: var(--gold);
}

.profile .content {
  border-radius: 40px 40px 0 0;
  background-color: var(--white);
  overflow: hidden;
}

/* profile wallet */

.profile .header .balance {
  text-align: center;
  color: var(--gold);
}

.profile .header .balance h5 {
  position: relative;
  font-size: var(--font-48);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.profile .header .balance h5 span {
  position: absolute;
  font-size: 59px;
  top: -16px;
  font-weight: bold;
  opacity: .15;
  font-stretch: expanded
}

.profile .header .balance p {
  font-size: var(--font-12);
  margin-bottom: 18px;
  margin-top: -8px;
}

.profile .header .balance h6 {
  position: absolute;
  left: -58px;
  margin-bottom: 0;
  font-size: var(--font-8);
}

.profile .header .balance h6 svg {
  font-size: 21px;
}

.profile .content .wallet-history .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--smoky);
  padding: 12px 18px;
}

.profile .content .wallet-history .item .logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--dark2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .content .wallet-history .item h5 {
  font-size: var(--font-16);
}

.profile .content .wallet-history .item h6 {
  font-size: var(--font-12);
  color: var(--smoky3);
  margin-bottom: 0;
}

.profile .content .wallet-history .item .price {
  font-size: var(--font-16);
  font-weight: bold;
}

.profile .content .wallet-history .item .price span:nth-child(1){
  font-size: var(--font-8);
  padding: 0 3px;
}

.profile .content .wallet-history .item .price .green {
  color: var(--green);
}

.profile .content .wallet-history .item .price .red {
  color: var(--red);
}

.profile .content .wallet-result section:nth-child(2) button{
  width: 150px;
}

/* profile order */

.profile .orders .item {
  height: 92px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: var(--radius-14);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin-bottom: 25px;
  cursor: pointer;
}

.profile .orders .item .title h5 {
  font-size: var(--font-16);
  font-weight: bold;
}

.profile .orders .item .title h6 {
  font-size: var(--font-12);
  margin-bottom: 0;
}

.profile .orders .item .time {
  border-right: 1px solid var(--white);
  padding: 0 10px;
  text-align: center;
}

.profile .orders .item .time h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1px
}

.profile .orders .item .time p {
  font-size: var(--font-12);
  margin-bottom: -2px;
}

.profile .orders .error {
  color: var(--red);
  border-color: var(--red);
}
.profile .orders .error .time{
  border-color: var(--red);
}

.profile .orders .active {
  background-color: var(--gold);
  border-color: var(--gold);
  color: var(--dark2);
}
.profile .orders .active .time{
  border-color: var(--dark2);
}

.profile .order-info .head{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.profile .order-info .head div {
  width: 150px;
}

.profile .order-info .head h5 {
  font-size: var(--font-24);
  margin-bottom: -4px;
  margin-top: 9px;
}

.profile .order-info .head p {
  font-size: var(--font-12);
  margin-bottom: 0;
}

.profile .order-info .page-content{
 border-top: 1px solid var(--smoky5);
}

.profile .order-info .page-content .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--smoky5);
  padding: 10px;
}

.profile .order-info .page-content .item h5 {
  margin-bottom: 0;
  font-size: var(--font-14);
  font-weight: bold;
}

.profile .order-info .page-content .item p {
  font-size: var(--font-12);
  color: var(--smoky3);
  margin-bottom: 0
}

.profile .order-info .page-content .item h6 {
  font-size: var(--font-12);
  font-weight: bold;
  margin-bottom: 0;
}
.profile .order-info .page-content .item h6 span {
  font-size: var(--font-8);
}

/* faq */
.faq .faq-list .item {
  border-bottom: 1px solid var(--smoky5);
  padding: 32px 24px;
  cursor: pointer;
}

.faq .faq-list .active {
  background-color: var(--smoky5);
}

.faq .faq-list .item h5{
  font-size: var(--font-14);
  font-weight: bold;
  margin-bottom: 0;
}

.faq .faq-list .item p {
  font-size: var(--font-12);
  padding-top: 32px;
  position: relative;
  display: none;
}

.faq .faq-list .active p {
  display: block;
  margin-bottom: 0;
}

.faq .faq-list .item p::before {
  content: "";
  height: 27px;
  width: 1px;
  background-color: var(--dark2);
  position: absolute;
  top: 2px;
  right: 11px;
}

.faq .new-ticket .user-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq .new-ticket .user-info h6 {
  margin-bottom: 4px;
  font-size: var(--font-14);
  font-weight: bold;
}

.faq .new-ticket .user-info p {
  margin-bottom: 0;
  font-size: var(--font-14);
  color: var(--smoky4);
}

.faq .new-ticket button:nth-child(1) {
  width: 230px;
  margin: 0;
}

.faq .new-ticket button:nth-child(2) {
  width: 110px;
  margin: 0;
}

/* privacy and policy */
.policy{
  text-align: center;
}

.policy img{
  width: 87px;
}

.policy h5 {
  margin-top: 10px;
  font-size: var(--font-14);
  font-weight: bold;
  line-height: var(--line-22);
}

.policy p {
  font-size: var(--font-14);
  text-align: right;
  border-bottom: 1px solid var(--smoky5);
  border-top: 1px solid var(--smoky5);
  margin-bottom: 0;
  padding: 7px 0;
  position: relative;
}

.policy p span {
  width: 3px;
  height: 3px;
  background-color: var(--dark2);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.about-us {
  text-align: center;
}

.about-us p{
  line-height: var(--line-22);
  margin-bottom: 8px;
  font-weight: bold;
}

/* end of profile page */
